@import "bootstrap";
@import "font-awesome";
@import "buttons";
@import "form";
@import "table";
@import "select";
@import "card";
@import "cart";

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  padding-top: 3rem;
  font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
  background: #ECF0F3;
}

.session-body {
  padding-top: 0;
}

.bg {
  /* The image used */
  background-image: asset-url('login-bg.png');
  /* Full height */
  // height: 100%;

  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  margin: 5% 0%;
}

.card-body {
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}


a {
  color: #11b4b4;
}
a:hover {
  color: #85aacf;;
  // text-decoration: underline overline dotted red;
}

.text-white {
  color: #ffffff;
}

.text-dark {
  color: #000000;
}

.text-warning {
  color: #f0ad4e
}