$light-brown: #f0ad4e;
$dark-grey: #ffffff;

label:not(.input-group-text) {
  margin-top: 10px;
}

.my-select {
  background-color: $light-brown;
  color: $dark-grey;
  border: 0 none;
  border-radius: 20px;
  padding: 6px 20px;
}